.categoryDiv{
    height: 50px;

}
.thumb-post img {
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    width: 100%;
    max-height: 300px;

}
.thumb-secondary-images img{
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    width: 100%;
    max-height: 150px;

}

.thumb-third-images img{
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    width: 100%;
    max-height: 60px;

}

.by-category-layout{
    height: 350px;
    background-color: navajowhite;
    padding-top: 10px;
    padding-bottom: 10px;
}
.thumb-category-image{
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    width: 100%;
    max-height: 680px;

}
.list-no-margin li{
    padding : 0.5px !important;
}

